---
layout: default
---
<div class="post">

  <article class="post-content" itemscope itemprop="blogPost" itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <h1 class="post-title" itemprop="headline">{{ page.title }}</h1>
      <p class="post-meta"><time class="entry-time" itemprop="datePublished" datetime="{{ page.date | date_to_xmlschema }}">Posted on {% assign d = page.date | date: "%-d"  %}
  {{ page.date | date: "%B" }}
  {% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %},
  {{ page.date | date: "%Y" }}</time>{% if page.author %} by <span class="entry-author" itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="entry-author-name" itemprop="name">{{ page.author }}</span></span>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}
      </p>
      {% if page.image.featured.src %}
      <img src="{{ page.image.featured.src | prepend: site.baseurl | prepend: site.url }}" alt="{{ page.image.featured.alt }}" />
      {% endif %}
    </header>
    <div class="entry-content" itemprop="text">
    {{ content | replace:'src="/', 'src="[[url]]/' | replace:'[[url]]', site.url }}
    <hr />
    <p>The source content of this article can be viewed <a href="//github.com/davidturner/journal/tree/master/_posts/{{ page.date | date: "%Y-%m-%d" }}-{{ page.url | replace: '/', '' }}.md">on GitHub</a>.</p>
    </div>
  </article>

</div>
